*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}
/* .aboutall{
    background-color: #9f74e8;
      
} */

.aboutheading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 7px auto;
}
.aboutheading h1{
    font-size: 50px;
    color: #1b2430;
    margin-bottom: 20px;
    /* position: relative; */
}

.aboutheading h1::after{
    content: "";
    /* position: absolute; */
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #2a3239ec;} 

.aboutheading p {
    font-size: 23px;
    margin-bottom: 35px;
    color: #ffffff;
    background-color: #2a3239ec;
    border-radius: 10px;
    padding: 10px;
}
.aboutcontainer{
    width:  90%;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: inline-block;
    transition: 0.5s ease;
    border-radius: 12px;
}

/* .about-image:hover img{
    transform: scale(1.2);
} */


.about-content{
    flex: 1;
}

.about-content h2{
    color: #2a3239;
    /* background-color: #2a3239d1 ; */
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    font-size: 28px;
    padding-bottom: 10px;
}

.about-content p{
    font-size: 23px;
    line-height: 1.5;
    color: #2a3239;
    font-weight: bold;
    /* background-color:#8e97a6c8 ; */
   
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(42, 50, 57);
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 15px;
    transition: 0.3s ease-in-out;

}

.about-content .read-more:hover{
    color: #1b2430;
    background-color: #8e97a6;
    border: 1px solid #1b2430;
}

@media screen and (max-width: 768px){
    .aboutheading{
        padding: 0px;
    }
    .aboutheading h1{
        font-size: 36px;
    }
    .aboutheading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .aboutcontainer{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .about-content p {
        padding: 0px;
        font-size: 21px;
    }

    .about-content .read-more{
        font-size: 21px;
    }
}