.app {
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(107, 103, 148, 0.641)
      ),
      url("https://images.hdqwalls.com/download/purple-rays-sky-stars-digitalart-river-4k-rb-1680x1050.jpg");
    background-size: cover;
    background-position: center;
    
  }
  
  form{
      background-color: white;
      padding: 0px 60px;
      border-radius: 20px;
  }
  input, select{
    background-color: #d2c7fc77;
  }
  
  h1{
      color: rgb(77, 1, 77);
      text-align: center;
      margin-top: 30px;
      margin-bottom: 20px;
  }
  
  button{
      width: 100%;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: rgb(157, 88, 225);
      color: white;
      border-radius: 10px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 20px;
    
      margin: 8px 20px 15px 8px;
      
  }
  button:hover{
    color: rebeccapurple;
    background-color: #d2c7fce3;
    border: 1px solid rgb(102, 51, 153);
    transition: 0.3s ease-in-out;
  }

  @media (min-width: 768px) {
    .app {
        
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-family: 'Roboto' , sans-serif;
        
      }
      
      form{
          background-color: rgba(254, 253, 254, 0.848);
          padding: 0px 60px;
          border-radius: 20px;
      }
      
      h1{
          color: rgb(77, 1, 77);
          text-align: center;
          margin-top: 30px;
          margin-bottom: 20px;
      }

      input , select{
        background-color: #d2c7fc77;
      }
      
      button{
          width: 40%;
          height: 50px;
          padding: 10px;
          border: none;
          background-color: rgb(109, 67, 150);
          color: white;
          border-radius: 10px;
          font-weight: bold;
          font-size: 18px;
          cursor: pointer;
          margin-bottom: 30px;
          margin: 8px 20px 30px 8px;
      }

      button:hover{
        color: rebeccapurple;
        background-color: #d2c7fce3;
        border: 1px solid rebeccapurple;
        transition: 0.3s ease-in-out;
      }
      
    
  }
  